<% provide(:title, "ユーザー一覧") %>
<h1 class="usersTitle">ユーザー一覧</h1>
<div class="usersSearch">
  <%= form_tag(users_path, :method => 'get') do %>
    <p class="usersSearch__textField">
      <%= text_field_tag :search %>
    </p>
    <p>
      <%= submit_tag '検索', :name => nil, class:"usersSearch__btn" %>
    </p>
  <% end %>
</div>
<%= will_paginate :previous_label=>'&#171;前', :next_label=>'次&#187;' %>
<ul class="users">
  <%= render @users%>
</ul>
<%= will_paginate :previous_label=>'&#171;前', :next_label=>'次&#187;' %>
