<header>
  <div class="header">
    <div class="header__elements">
      <div class="header__logo">
        <%= link_to "sample app", root_path, class: "header__logo" %>
      </div>
      <nav class="header__nav">
        <ul class="header__ul">
          <li class="header__navList"><%= link_to "Home", root_path, class:"header__navLink" %></li>
          <li class="header__navList"><%= link_to "Help", help_path, class:"header__navLink" %></li>
          <% if logged_in? %>
            <li class="header__navList"><%= link_to "Users", '#', class:"header__navLink" %></li>
            <li class="header__navList"><%= link_to "編集", edit_user_path(current_user) %></li>
            <li class="header__navList"><%= link_to "Log out", logout_path, method: :delete, class:"header__navLink" %></li>
          <% else %>
            <li class="header__navList"><%= link_to "Log in", login_path, class:"header__navLink" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
